*{
	box-sizing: border-box;
}

.container{
	width:95%;
	margin-right: auto;
	margin-left: auto;
}

h1{
	text-align: center;
}

section{
	background-color: #CCCCCC;
	width: 100%;
	margin-top: 30px;
	border: 1px solid black;
}

.heading{
	width: 125px;
	height: 40px;
	border: 1px solid black;
	text-align: center;
	padding-top: 10px;
	float: right;
}


#cobra{
	background-color: pink;
}

#lion{
	background-color: orange;
}

#fox{
	background-color: red;
}

article{
	width: 100%;
	height: 170px;
	padding: 10px;
	padding-top: 50px;
}

@media (min-width: 992px) {
  section
  {
    float: left;
    width: 31%;
  }

  #second{
	margin-right: 30px;
	margin-left: 30px;
}

  article{
  	height:230px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  section
  {
    float: left;
    width: 45%;
    margin-right: 10px;
	margin-left: 10px;
  }

  article{
  	height: 210px;
  }

  #third{
  	width: 92.5%;
  }
}